MONGODB_URI=
MONGODB_DATABASE=leetec_vpn_bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_USER_ID=
COURTNEY_BASE_URL=https://courtneytech.xyz/api
COURTNEY_API_KEY=
COURTNEY_API_SECRET=
COURTNEY_ACCOUNT_ID=
PUBLIC_APP_URL=https://bot.leetec.online
